.tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-light-900);

  .dark & {
    --blockquote-bg-color: var(--tt-gray-dark-900);
  }
}

/* =====================
     BLOCKQUOTE
     ===================== */
.tiptap.ProseMirror {
  blockquote {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin: 1.5rem 0;
    background-color: #fefdf8;
    border-radius: 0.25rem;
    color: var(--tt-gray-light-900, #111827); // 亮色模式下使用深色文字

    p {
      margin-top: 0;
      color: inherit; // 继承父元素的颜色
    }

    &::before,
    &.is-empty::before {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.25em;
      background-color: #fef9c3;
      content: "";
      border-radius: 0;
    }
  }

  .dark & {
    blockquote {
      background-color: var(--tt-gray-dark-100, #374151);
      color: var(--tt-gray-dark-900, #f9fafb); // 暗色模式下使用更浅（更可见）的颜色

      p {
        color: inherit; // 继承父元素的颜色
      }

      &::before,
      &.is-empty::before {
        background-color: var(--tt-gray-dark-600, #4b5563);
      }
    }
  }
}
